<h1>Welcome to VIET-NOMS!</h1>
<p>A yummy place where you can save all your favorite Viet recipes.</p>
<p><a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrape-btn">Start Scraping!</a></p>