<nav class="navbar navbar-default"> {{> nav }} </nav>
<div class="container-fluid">
    <div class="jumbotron"> {{> hero }} </div>
    <div class="col-lg-12">
    <div class="row"> {{> recipes }} </div>
</div>
</div>

